button.small_button{
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}
button.small_button:hover {
    background-color: #3e8e41;
}
.rotations .dial {
    background-color: #4CAF50;
    width: 100px;
    height: 100px;
    border-radius: 100px;

    border: 3px solid green;
    padding: 0;
}

.rotations .dial #null_knob {
    background-color: green;
    border-radius: 100px;
    border: none !important;
    padding: 0;
}
.rotations .dial #null_wheel {
    border: none !important;
    padding: 0;
}